*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.container{
    --grid-col: 10;
    --grid-height: 600px;
    height: var(--grid-height);
    width: var(--grid-height);
    display: grid;
    grid-template-columns: repeat(var(--grid-col), calc(var(--grid-height) / var(--grid-col)));
}

.black{
    height: calc(var(--grid-height) / var(--grid-col));
    width: calc(var(--grid-height) / var(--grid-col));
    background-color: black;
    animation: fadeIn 0.85s;
    border: 1px solid grey;
}
@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  

.white {
    height: calc(var(--grid-height) / var(--grid-col));
    width: calc(var(--grid-height) / var(--grid-col));
    background-color: white;
    border: 1px solid grey;
}
